<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Venta de Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <div th:include="template_admin.html::navbarmenu">
    </div>

    <div id="layoutSidenav">

        <div th:include="template_admin.html::navbarleft">
        </div>

        <div id="layoutSidenav_content">

            <div class="container-fluid">
                <br>
                <div class="card shadow mb-4">
                    <div class="card-header d-sm-flex align-items-center justify-content-between mb-4">
                        <h6 class="m-0 font-weight-bold text-gray-800">Vender Producto</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/producto/vender}" method="post">
                            <input type="hidden" name="productoId" th:value="${producto.id}" />
                            <div class="form-group">
                                <label for="cantidad">Cantidad a vender</label>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="100" required />
                            </div>
							<br>
                            <button type="submit" class="btn btn-primary">Vender</button>
                            <a class="btn btn-secondary" th:href="@{/producto/listado}">Cancelar</a>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
            <div th:include="template_admin.html::footer">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/assets/demo/chart-area-demo.js}"></script>
    <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/datatables-simple-demo.js}"></script>
</body>

</html>
